<launch>
  <!-- Arguments -->
  <arg name="waypoints_data_file" default="$(find turtlebro_patrol)/data/goals.xml" />
  <arg name="fake_move_base" default="false"/>

  <!--Aruco view service -->
  <node pkg="turtlebro_searcher" type="aruco_service.py" name="aruco_detect_server" output="screen" required="true" />

  <!--Search aruco service -->
  <node pkg="turtlebro_searcher" type="aruco_searcher.py" name="aruco_searcher" output="screen" required="true" />

  <!--Fake move base -->
  <group if="$(arg fake_move_base)">
    <node pkg="turtlebro_patrol" type="fake_move_base.py" name="fake_move_base" output="screen" required="true"/>
  </group>

  <!--Navigation -->
  <group unless="$(arg fake_move_base)">  
    <include file="$(find turtlebro_navigation)/launch/turtlebro_slam_navigation.launch">
        <arg name="open_rviz" value="False"/>
    </include>
  </group>

 
  <!--Patrol Node -->
  <node pkg="turtlebro_patrol" type="patrol.py" name="turtlebro_patrol" output="screen" required="true">
    <param name="waypoints_data_file" value="$(arg waypoints_data_file)"/>    
    <param name="point_callback_service" value="turtlebro_searcher"/>    
  </node>

</launch>
